certifi
chardet
coreapi==2.3.3
coreschema==0.0.4
Django
django-cors-headers
django-debug-toolbar
django-environ
django-filter
djangorestframework
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
jsonschema
Markdown
MarkupSafe
mutagen
Pillow
psycopg2
pytz
PyYAML
raven
requests
ruamel.yaml
six
sqlparse
swagger-spec-validator
uritemplate
urllib3
youtube-dl
